@model RegisterViewModel

@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
	.col-sm-12 {
		display: flex;
		align-items: center;
		padding-left: initial !important;
		padding-right: initial !important;
	}

	.test {
		margin-left: 5px !important;
	}

	select {
		-webkit-appearance: listbox !important;
	}
</style>

<body style="">
	<div class="wrapper">



		<!-- Main content -->
		<form id="login-form" class="login" method="post" novalidate="">
			<p class="login__title">Register <br><span class="login-edition">Welcome to Sinflex</span></p>

			<div class="social social--colored">
				<a href="#" class="social__variant fa fa-facebook"></a>
				<a href="#" class="social__variant fa fa-twitter"></a>
				<a href="#" class="social__variant fa fa-tumblr"></a>
			</div>

			<p class="login__tracker">or</p>

			<div class="field-wrap form">
				<input type="Email" placeholder="Email" name="Email" class="login__input">
				<input type="Email" placeholder="Confirm Email" name="ConfirmEmail" class="login__input">
				<input type="password" placeholder="Password" name="Password" class="login__input">
				<input type="password" placeholder="Confirm Password" name="ConfirmPassword" class="login__input">
				<input type="text" placeholder="Profession" name="Profession" class="login__input">
				<input type="number" placeholder="Phone Number" name="PhoneNumber" class="login__input">

				<select name="Gender" class="login__input">
					<option value="">Gender</option>
					<option value="1">Male</option>
					<option value="0">Female</option>
				</select>

				<textarea placeholder="Address" asp-for="@Model.Address" name="Address" class="form__message login__input"></textarea>
				<div class="col-sm-12">
					<select name="EconomicalStatus" class="login__input" style="margin-top:0;">
						<option value=>Select Monthly Income</option>
						<option value="0-5000₺">0-5000₺</option>
						<option value="5000-10000₺">5000-10000₺</option>
						<option value="10000-20000₺">10000-20000₺</option>
						<option value="20000₺+">20000₺+</option>
					</select>
				</div>
		

				<div class="col-sm-12">
					<label for="birthday">Birthdate:</label>
					<input type="date" id="birthday" name="Birthdate" class="test login__input">
				</div>

				<br />
				<br />

				<div class="login__control">
					<button type="submit" class="btn btn-md btn--warning btn--wider" asp-controller="Home" asp-action="Register">Register</button>
				</div>

			</div>
		</form>

		<div class="clearfix"></div>
	</div>

	<!-- JavaScript-->
	<!-- jQuery 1.9.1-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/external/jquery-1.10.1.min.js"><\/script>')</script>
	<script src="~/js/external/jquery-1.10.1.min.js"></script>
	<!-- Migrate -->
	<script src="~/js/external/jquery-migrate-1.2.1.min.js"></script>
	<!-- Bootstrap 3-->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

	<!-- Mobile menu -->
	<script src="~/js/jquery.mobile.menu.js"></script>
	<!-- Select -->
	<script src="~/js/external/jquery.selectbox-0.2.min.js"></script>
	<!-- Form element -->
	<script src="~/js/external/form-element.js"></script>
	<style type="text/css">
		input.styled {
			display: none;
		}

		select.styled {
			position: relative;
			width: 190px;
			opacity: 0;
			filter: alpha(opacity=0);
			z-index: 5;
		}

		.disabled {
			opacity: 0.5;
			filter: alpha(opacity=50);
		}</style>
	<!-- Form validation -->
	<script src="~/js/form.js"></script>

	<!-- Custom -->
	<script src="~/js/custom.js"></script>
	<div class="top-scroll" style="display: none;"><a href="#"></a></div>
</body>