<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" style="">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Sinflex-Typography</title>

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">

    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="~/fonts/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/css/external/css095f.css" rel="stylesheet" type="text/css">
    <!-- Roboto -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <!-- Mobile menu -->
    <link href="~/css/gozha-nav.css" rel="stylesheet">
    <!-- Select -->
    <link href="~/css/external/jquery.selectbox.css" rel="stylesheet">

    <!-- Custom -->
    <link href="~/css/style3860.css?v=1" rel="stylesheet">

    <!-- Modernizr -->
    <script src="~/js/external/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>

<body style="">
    <div class="wrapper">

        <header class="header-wrapper">
            <div class="container">
                <!-- Logo link-->
                <a class="logo btn" asp-area="" asp-controller="Home" asp-action="Index">
                    <img alt="logo" src="~/images/logo.png">
                </a>
                <!-- Main website navigation-->
                <nav id="navigation-box">

                    <!-- Link navigation -->
                    <ul id="navigation">

                    </ul>
                </nav>

                <!-- Additional header buttons / Auth and direct link to booking-->
                <div class="control-panel">
                    <a asp-area="" class="btn btn--sign asp-controller="Home" asp-action="Register" asp-controller="Home">Register</a>
                    @if (User != null && User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" class="btn btn--sign asp-controller="Home" asp-action="Signout" asp-controller="Home">Signout (@User.Identity.Name)</a>
                    }
                    else
                    {
                        <a asp-area="" class="btn btn--sign asp-controller="Home" asp-action="Login" asp-controller="Home">Login</a>
                    }

                    @* <a href="#" class="btn btn-md btn--warning btn--book">Book a ticket</a> *@
                </div>

            </div>
        </header>

        <div class="container">
            @RenderBody()
        </div>
        <div class="clearfix"></div>

    </div>
    @await Html.PartialAsync("_Footer")
    <!-- JavaScript-->
    <!-- jQuery 1.9.1-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/external/jquery-1.10.1.min.js"></script>
    <!-- Migrate -->
    <script src="~/js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap 3-->
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="~/js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="~/js/external/jquery.selectbox-0.2.min.js"></script>

    <!-- Custom -->
    <script src="~/js/custom.js"></script>
    <div class="top-scroll" style="display: none;"><a href="#"></a></div>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>